.main{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main a{
    color: black;
    font-size: 24px;
    font-weight: 10;
    line-height: 172px;
    position: relative;
}

.main a::after{
    background-color: whitesmoke;
    content: "";
    height: 3px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: opacity 0.3s;
    width: 100%;
}

.main a.cursor::after,
.main a:hover::after{
    opacity: 0.8;
}

.main a:hover{
    color: #000022;
}

.main li{
    padding: 0 20px;
}

.navbar {
    background-color: #E5EEF2;
    box-shadow: 0 4px 5px #E5E5E5;
    left: 0;
    position:fixed;
    top: 0;
    width: 100%;
}

.navigate {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
    padding: 10px;
}

.autor {
    align-items: center;
    color: black;
    display: flex;
    font-size: 24px;
    font-weight: 500;
}

.autor img{
    border-radius: 50%;
}
